body {
    background-color: #FEF9EF;
    font-family: 'Segoe UI', sans-serif;
}

.stButton>button {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #EF476F;
    color: white;
}

input, textarea {
    border-radius: 10px;
    padding: 10px;
}

.stMarkdown h1, .stMarkdown h2, .stMarkdown h3 {
    color: #EF476F;
}

img {
    border-radius: 12px;
}
